body{
  background: rgba(255,255,255,0.3);
//   background: url("http://alexekim.github.io/images/plane.jpg") center no-repeat;
//   // background-size: cover;
//   // background-repeat: no-repeat;
}

#content {
  display: none;
}

#bg {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  // background: url(http://alexekim.github.io/images/plane.jpg) no-repeat center center fixed;
  background-image: url("http://alexekim.github.io/images/plane.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
}

h1 {
  font-family: 'Nunito', sans-serif;
  // font-family: 'Fjalla One', 'Nunito', sans-serif;
  // font-size: 72px;
}

h2 {
  // font-family: 'Nunito', sans-serif;
  font-family: 'Fjalla One', 'Nunito', sans-serif;
  font-size: 46px;
}

h3 {
  font-family: 'Nunito', sans-serif;
  font-weight: normal;
}

h4 {
  font-family: 'Nunito', sans-serif;
  font-weight: normal;
}

h5 {
  font-family: 'Nunito', sans-serif;
  font-weight: normal;
}

p {
  font-family: 'Nunito', sans-serif;
  font-weight: normal;
}

.headerLinksDiv {
  padding: 20px;
}

.headerLink {
  font-size: 40px;
  margin-left: 10px;
  float: right;
  color: rgb(74, 74, 74);
}

.headerLink:hover {
  color: rgb(38, 136, 101);
}

.center {
  text-align: center;
}

#poweredByReact {
  visibility: hidden;
}

#description {
  // border: 1px solid gray;
  // border-radius: 40px;
  background: rgba(255,255,255,0.3);
  // box-shadow: inset 0px 0px 50px 50px rgba(102, 102, 102, 0.44);
  color: black;
}
